asgiref==3.8.1
asn1crypto==1.5.1
autopep8==2.3.2
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
crispy-bootstrap4==2024.10
cryptography==44.0.2
Django==5.1.7
django-crispy-forms==2.3
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.2
olefile==0.47
pillow==11.1.0
pycodestyle==2.12.1
pycparser==2.22
pyOpenSSL==25.0.0
PySocks==1.7.1
pytz==2025.1
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
urllib3==2.3.0
