{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h2>Wallet</h2>
    <p class="my-5">Welcome to your wallet! You may add money or check your current balance. While booking tickets, the fare will automatically get deducted from your wallet.</p>
    <button type="button" class="btn btn-outline-info mx-1 my-4" data-toggle="modal" data-target="#checkBalanceModal">
        Check Balance
    </button>
    <button type="button" class="btn btn-outline-info mx-1 my-4" data-toggle="modal" data-target="#addMoneyModal">
        Add Money to Wallet
    </button>

    <!-- Check Balance -->
    <div class="modal fade" id="checkBalanceModal" tabindex="-1" role="dialog" aria-labelledby="checkBalanceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="checkBalanceModalLabel">Wallet Balance</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p align="center">Current Balance: ₹{{ user.passenger.wallet.balance }}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>

    <div class="modal fade" id="addMoneyModal" tabindex="-1" role="dialog" aria-labelledby="addMoneyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="checkBalanceModalLabel">Add Money</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
        </div>
        <div class="modal-footer form-group">
            <button class="btn btn-outline-info" type="submit">Add</button>
        </div>
        </form>
        </div>
    </div>
    </div>
{% endblock content %}
